/* Reset CSS: from YUI2: Reset CSS */
html{color:#000;
	/*background:#fff url("../images/background_ex1.jpg") no-repeat; padding:20px 0;*/
	background:#fff url("../images/background_ex2.jpg") no-repeat center; background-size:100%;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}

a {text-decoration:none;}

/*	-- latout --  */
#wrap {width:960px; margin:0 auto; position:relative; /*border:1px solid #000;*/}

/*  -- top --  */
#top {
	width:100%; height:80px; padding:10px 0; margin:0 auto;
	display:block;
	border-bottom:2px solid rgba(0, 0, 0, .5);

}

#top #top_left {
	display:block; color:#98F5FF; float:left;
	padding:27px 0 0 10px;
}
#top_logo {font-family:impact; font-size:50px; float:left; font-style:italic;}
#top_logo a {color:#fff;}
#top_nav {float:left; display:block; margin:5px 0 0 50px;}
#top_nav li {
	float:left; font-size: 25px; padding:0 30px 0 0;
}
#top_nav li a {color: #4BF;}


#top_right {
	display:inline-block; float:right; margin:22px 40px 0 0;
	padding:5px 10px;
	background-color:white;
	border-radius: 10px 10px 10px 10px;
}
#search {
	width:180px; height:30px; border:none;
}
#search_button {
	padding:0; width:60px; height:30px;
	font-family:impact; font-size:15px;
	background-color:#fff; border:none;
}

/* -- header -- */
#header {text-align:center; margin:20px 0;}
#header h1 {
	display:inline-block; font-size:50px;
	height:55px; padding:5px 10px;
	background-color:rgba(12, 20, 28, .3);
	color:white; border-radius: 10px 10px 10px 10px;
}
#header h1 span {display:inline-block;}

/* -- content -- */
#content {width:960px; margin:0 auto; text-align:center; position:relative;}
#content ul .main_nav {
	display:inline-block; margin:20px 20px 60px 20px;
	width:300px;
}
#content ul li #login {
	background-color: rgba(226, 231, 234, .8);
	display:inline-block; padding-top:100px;
	font-size:60px; height:140px; width:260px;
	border-radius: 25px 25px 25px 25px;
}
#content ul li #join {
	background-color: rgba(226, 231, 234, .8);
	display:inline-block; padding-top:100px;
	font-size:60px; height:140px; width:260px;
	border-radius: 25px 25px 25px 25px
}
#content ul li span {display:inline-block; }

#content #facebook_login {display:inline-block; padding:10px; position:absolute; bottom:5px; left:190px;}
#content #facebook_login img {width:30px; height:30px;}
#content #facebook_login a {color:white; font-size:15px; padding-bottom:5px;}

/* -- footer -- */
#footer {clear:both; color:#fff; text-align:center; padding: 20px;}

/* -- new window -- */
.new_window {
	background-color:rgba(128, 0, 255, .8);
	border-radius: 25px 25px 25px 25px;
	border:3px solid #000; display:inline-block;
}
#login_page {position:absolute; top:170px; left:230px; width:500px; height:350px;}
#join_page {position:absolute; top:20px; left:230px; width:500px; height:580px;}

.window_logo {
	font-size:50px; padding:50px 0 80px 0; text-align:center;
	font-family:impact;  font-style:italic; color:white;
	position:relative;
}
.closebutton {position:absolute; top:15px; right:15px; width:40px; height:40px;}
.window_button {position:absolute; bottom:25px; right:25px;}
.window_button input {width:90px; height:40px; font-size:25px; font-weight:bold;}

#login_page form .login_class div {float:left;}
#login_page form .login_class input {float:left;}
#login_page form .login_class {padding:0 0 60px 20px; font-size:25px; font-weight:bold;}
#login_page form .login_class div {width:150px; text-align:left;}
#login_page form .login_class input {font-size:18px; width:250px; border:1px solid #000;}

.join_class_tr div {float:left;}
.join_class_tr {clear:both;}
.join_class_tr .tr_name {padding:0 30px 20px 20px; width:160px; font-size:20px; font-weight:bold; text-align:right;}
.join_class_tr .input_text {width:200px;}