
html{color:#000;
	background:#fff no-repeat; padding:20px 0;
	margin:0 auto;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}


* { margin: 0; padding: 0; }
img {border: 0;}
body{background-image: url('../images/dot.gif'); margin:0 auto;
	 font-family: 휴먼편지체, Candara; width:960px;}

#content { width: 960px; margin: 0 auto; overflow: hidden;}
#content > #aside {float: left; width:200px;}
#content > #learning_detail {width: 750px; margin-top: 150px; float: right;}

#learning_detail > article.learning_person {margin-bottom: 10px; padding: 20px;
							 border: 1px solid #b70000;}
#learning_detail > #class_number {margin-bottom: 10px; padding: 20px;
							 border: 1px solid #b70000;}

#left {float: left; margin-right: 20px;}