
html{color:#000;
	background:#fff no-repeat; padding:20px 0;
	margin:0 auto;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}


* { margin: 0; padding: 0; }
img {border: 0;}
body{background-image: url('../images/dot.gif'); margin:0 auto;
	 font-family: 휴먼편지체, Candara; width:960px;}


#learning_header{ width: 960px; margin: 0 auto; height: 160px; position: absolute;}
#learning_header > #title {position: absolute; left: 20px; top: 0px; font-size: 40px;}
#learning_header > #title > a:link {text-decoration: none; color: #b70000;}
#learning_header > #title > a:visited {text-decoration: none; color: #b70000;}
#learning_header > #learning_mb { position: absolute; right: 0; top: 0px;}

#title{color: #b70000; font-family: ComicSansMS, Segoe Print, 휴먼편지체, Candara;}

#learning_mb >ul {overflow: hidden; margin-top: 10px;}
#learning_mb >ul >li {float: left;}
#learning_mb >ul >li > a{display: block; padding: 10px 20px; border: 1px solid #b70000;}
#learning_mb >ul >li >a:link {text-decoration: none; color: #b70000;}
#learning_mb >ul >li >a:visited {text-decoration: none; color: #b70000;}
#learning_mb >ul >li >a:hover {background: #b70000; color: white;}
#learning_mb >ul >li:first-child >a {border-radius: 10px 0 0 10px;}
#learning_mb >ul >li:last-child >a {border-radius: 0 10px 10px 0;}

#content { width: 960px; margin: 0 auto; overflow: hidden;}
#content > #aside {float: left; width:200px; }
#content > #learning_section {width: 750px; margin-top: 150px; float: right;}

#learning_section > article.learning_article {margin-bottom: 10px; padding: 20px; border: 1px solid #b70000;}
#learning_section > article.learning_article > a:link {text-decoration: none; color: black;}
#learning_section > article.learning_article > a:visited {text-decoration: none; color: black;}


#left {float: left; margin-right: 20px;}

section.buttons{ overflow: hidden; margin-top: 20px; border-radius: 10px 10px 10px 10px;}
section.buttons>label {
	display: block; float: left;

	width: 200px; height: 30px;
	line-height: 30px;
	text-align: center;

	box-sizing: border-box;
	border: 1px solid white;

	background: #b70000;
	color: white;
}

.item{ overflow: hidden; padding: 10px; border: 1px solid #b70000; border-top: none;}
.thumbnail{float: left;}
.thumbnail>img{width: 30px;}
.description {float: left; margin-left: 10px;}
.description >strong {display: #b70000; width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

#content > #volunteer { display: block; width:160px; margin-top: 20px;}
#content > #volunteer { margin-bottom: 10px; padding: 20px; border: 1px solid #b70000;}
#content > #volunteer table, tr, td{font-size: 15px; margin: 0 auto; text-align: center;
	width: 160px; height: 20px; }
#content > #volunteer tr, th{ font-size: 20px; font-weight: bold; text-align: center;}
#content > #volunteer h1{font-size: 35px; font-weight: bold; color: #B70000;
	margin: 0 auto; text-align: center; margin-top: 20px; margin-bottom: 20px; }



#learning_footer{ width: 960px; margin: 0 auto; margin-bottom: 10px; box-sizing; border-box; padding: 10px; border: 1px solid #b70000; text-align: center;}



/* Some stylesheet reset */
#cssmenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenu > ul{
	display: block;
	position: relative;
	width: 150px;
}

	/* The list elements which contain the links */
	#cssmenu > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;	
	}

		/* General link styling */
		#cssmenu > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #fff;
			border-bottom: 1px dotted #d9d9d9;
			padding: 11px 20px;
			width: 110px;

			/* Typography */
			font-family:  Helvetica, Arial, sans-serif;
			color: #e4433c;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #fff;
			font-size: 13px;
			font-weight: 300;

			/* Background & effects */
			background: #eaeaea;
		}

		/* Rounded corners for the first link of the menu/submenus */
		#cssmenu > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#cssmenu > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#cssmenu > ul li a:hover, #cssmenu > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
			background: #f23f37;
			background: -webkit-linear-gradient(bottom, #f23f37, #f45d57);
			background: -ms-linear-gradient(bottom, #f23f37, #f45d57); 
			background: -moz-linear-gradient(bottom, #f23f37, #f45d57);
			background: -o-linear-gradient(bottom, #f23f37, #f45d57);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#cssmenu > ul .has-sub >a::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #e4433c; 
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#cssmenu > ul .has-sub >a::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #fff;
		}

		/* Changing the color of the arrow on hover */
		#cssmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .25);
		}

	
		/* THE SUBMENUS */
		#cssmenu > ul ul {
			position: absolute;
			left: 150px;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#cssmenu > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}


/* Some stylesheet reset */
#cssmenu > ul {list-style: none; margin: 0; padding: 0; vertical-align: baseline; line-height: 1; margin-top: 150px; }
/* The container */
#cssmenu > ul{ display: block; position: relative; width: 150px;}
/* The list elements which contain the links */
#cssmenu > ul li {display: block; position: relative; margin: 0; padding: 0; width: 150px;}
/* General link styling */
#cssmenu > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #fff;
			border-bottom: 1px dotted #d9d9d9;
			padding: 11px 20px;
			width: 160px;

			/* Typography */
			font-family:  Helvetica, Arial, sans-serif;
			color: #b70000;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #fff;
			font-size: 13px;
			font-weight: 300;

			/* Background & effects */
			background: #eaeaea;
		}

/* Rounded corners for the first link of the menu/submenus */
#cssmenu > ul li:first-child>a {border-top-left-radius: 4px; border-top-right-radius: 4px; border-top: 0;}
/* Rounded corners for the last link of the menu/submenus */
#cssmenu > ul li:last-child>a { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: 0;}
/* The hover state of the menu/submenu links */
#cssmenu > ul li a:hover, #cssmenu > ul li:hover>a {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	background: #b70000;
	background: -webkit-linear-gradient(bottom, #b70000, #f45d57);
	background: -ms-linear-gradient(bottom, #b70000, #f45d57); 
	background: -moz-linear-gradient(bottom, #b70000, #f45d57);
	background: -o-linear-gradient(bottom, #b70000, #f45d57);
	border-color: transparent;
}
/* The arrow indicating a submenu */
#cssmenu > ul .has-sub >a::after { content: ''; position: absolute; top: 16px; right: 10px; width: 0px; height: 0px;
	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #e4433c; }
/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenu > ul .has-sub >a::before {	content: ''; position: absolute; top: 17px;	right: 10px; width: 0px; height: 0px;
	/* Creating the arrow using borders */
	border: 4px solid transparent; border-left: 4px solid #fff;}
/* Changing the color of the arrow on hover */
#cssmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {border-left: 4px solid #fff;}
#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {border-left: 4px solid rgba(0, 0, 0, .25);}
/* THE SUBMENUS */
#cssmenu > ul ul { position: absolute; left: 200px; top: -9999px; padding-left: 5px; opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
}
/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover>ul { top: 0px; opacity: 1; }
